<div class="nav-wrapper @(_isExpanded ? "expanded" : "collapsed")">
    <div class="nav-header">
        <div class="logo-container">
            <img src="images/logo_pixel.png" alt="DailyInsight Logo" class="logo-image" />
        </div>
    </div>

    <nav class="nav-mini">
        @foreach (var item in _navItems)
        {
            <button class="nav-icon-btn @(_selectedItem == item.Id ? "active" : "")"
                    @onclick="() => SelectItem(item.Id)"
                    title="@item.Label">
                <i class="@item.IconClass">@item.IconName</i>
                <span class="tooltip">@item.Label</span>
            </button>
        }
    </nav>

    <div class="nav-expanded-panel">
        <div class="panel-header">
            <h3 class="panel-title">@GetSelectedLabel()</h3>
            <button class="close-btn" @onclick="ClosePanel">✕</button>
        </div>

        <div class="panel-content">
            @switch (_selectedItem)
            {
                case 1:
                    <NavLink class="sub-link" href="">Home</NavLink>
                    break;
                case 2:
                    <NavLink class="sub-link" href="counter">Counter</NavLink>
                    break;
                case 3:
                    <NavLink class="sub-link" href="weather">Weather</NavLink>
                    break;
                case 4:
                    <NavLink class="sub-link" href="myList">Projects</NavLink>
                    break;
                case 5:
                    <NavLink class="sub-link" href="settings">Settings</NavLink>
                    break;
            }
        </div>
    </div>
</div>
